<h1>Listing financials</h1>



<table>
  <tr>
    <th>Rent</th>
    <th>Fixed costs</th>
    <th>Utilities</th>
    <th>Days</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @financials.each do |financial| %>
  <tr>
    <td><%= financial.rent %></td>
    <td><%= financial.fixed_costs %></td>
    <td><%= financial.utilities %></td>
    <td><%= financial.days %></td>
    <td><%= financial.price %></td>
    <td><%= link_to 'Show', financial %></td>
    <td><%= link_to 'Edit', edit_financial_path(financial) %></td>
    <td><%= link_to 'Destroy', financial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Financial', new_financial_path %>
